.comment {
    flex: 1 1 100%;
    margin: 5px auto;
    color: darkslateblue;
    border: 1px solid mediumpurple;
    box-shadow: 1px 2px 0 1px lightgray;
}

.comment h3 {
    margin: 0.8rem;
}

.comment p {
    padding: 0 10px;
    text-align: justify;
    text-indent: 1rem;
}
